.header{
    text-align: left;
    font-family: initial;
}
body{
    background-image: url("background.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.lock-img{
    width:60px;
    margin:10%;
    margin:10%;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.form-box{
    border-radius: 5px;
    margin-left: 40%;
    font-size: 16px;
    color: white;
    margin-top:5%;
    width: 450px;
    border:0.5px solid;
    padding:4%;
    background-color:rgba(0,0,0,0.5);
}
@media only screen and (max-width: 800px){
    .form-box{
        margin:5%; 
        margin-top: 8%;
    }
    .lock-img{
        display:none;
    }
}

}
.btns{
    display: flex;
    justify-content: center;
    align-content: center;
}
.btnx{
    margin: 8px;
    width:100px;
}